.text-wrapper-13 {
    color: #111111;
    font-family: "Gilroy-Semibold", Helvetica;
    font-size: 50px;
    font-weight: 400;
    height: 60px;
    left: 0;
    letter-spacing: 0;
    line-height: 60px;
    position: fixed;
    top: 0;
    white-space: nowrap;
  }