.ourservice-container {
    
  }
  
  .row {
    padding: 0;
    /* Add styles for rows */
  }
  
  .col-md-6 {
    margin: 0;
    /*border: 1px solid black;
    /* Add styles for columns with a width of 6 */
  }
  
  .service1 {
    height: 720px;
    width: 680px;
  }
  .text-content1{
    padding: 60px;
    justify-content: center;
    

  }
  .Ourservice{
    justify-content: center;
    border-color:ipx solid peru !important;
    font-size: 20px;
    padding: 40px;
    padding-left: 200px;
    padding-top: 80px;
    padding-bottom: 0;
    font-weight: 700;
    font-family:Helvetica;
  }
  .flower{
    justify-content: center;
    font-size: 40px;
    padding-left: 60px;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 700;
    font-family:Helvetica;
  }
  .para-ser{
    text-align: center;
    font-size: 20px;
    padding: 0px;
    font-family:Helvetica;
  }
  .sub-button{
    margin-top: -30px;
    padding-left: 200px;
    position:relative  
    
  }
  
  .service2{
    border-top: 1px solid black;
    background-image: url("/public/service2.svg");
  }
  .text-content2{
    color: white;
    text-align: center;
  }
  .Ourservice2{
    justify-content: center;
    border-color:1px solid peru !important;
    font-size: 20px;
    padding: 40px;
    padding-left: 200px;
    padding-top: 80px;
    padding-bottom: 0;
    font-weight: 700;
    font-family:Helvetica;
  }
  .flower2{
    justify-content: center;
    font-size: 40px;
    padding-left: 60px;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 700;
    font-family:Helvetica;
  }
  .para-ser2{
    text-align: center;
    font-size: 20px;
    padding: 0px;
    font-family:Helvetica;
  }
  .sub-button2{
    
    padding-left: 200px;
    position:relative  
  }

