.element-home-page {
    align-items: flex-start; 
    background-color: white;
    border: 1px solid;
    flex-direction: row-reverse;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .element-home-page .div-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .element-home-page .div-3 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    position: relative;
  }
  .element-home-page .img {
    height: 720px;
    position: relative;
    width: 720px;
  }
  
  .element-home-page .row {
    margin-bottom: 0px;
  }
  
  .element-home-page .col-md-6 {
    flex: 0 0 50%; 
  }
 
  .card-category-instance,
  .card-item-instance,
  .card-item-3 {
    top: 90px ;
    border: 1px solid rgb(122, 62, 62);
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 360px;
  }
  
  .element-home-page .div-title {
    align-items: flex-start;
    border-color: var(--black);
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    margin-left: -1px;
    margin-top: -1px;
    padding: 80px;
    position: relative;
    width: 722px;
  }

  .element-home-page .text-content {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 30px;
    border:1px solid black;
    position: relative;
  }
  .element-home-page .our-story {
    color: #111111;
    font-family:  "Gilroy-Medium", Helvetica; 
    font-style: normal; 
    font-weight: 700; 
    letter-spacing: 1px; 
    line-height: 1.5; 
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  
  .element-home-page .heading-paragraph {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }
  
 
  .element-home-page .we-are-a-modern {
    color: #333; 
    font-family: "Gilroy-Medium", Helvetica;
    font-size: 16px; 
    font-style: normal; 
    font-weight: 400;
    letter-spacing: 0.5px; 
    line-height: 1.6; 
    position: relative;
    width: 543.5px;
  }
  .element-home-page .text-wrapper-12{
      color: #111111;
      font-family: "Gilroy-Medium", Helvetica;
      font-size: 30px;
      font-weight: 500;
      left: 0;
      letter-spacing: 0;
      line-height: 45.6px;
      position: relative;
      top: 0;
      width: 544px;
    
  }
    