.element-home-page {
    align-items: flex-start; 
    background-color: white;
    border: 1px solid;
    flex-direction: row-reverse;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .element-home-page .div-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .element-home-page .div-3 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    position: relative;
  }
  .element-home-page .img {
    height: 720px;
    position: relative;
    width: 720px;
  }
  
  .element-home-page .row {
    margin-bottom: 0px; /* Add margin between rows */
  }
  
  .element-home-page .col-md-3 {
    flex: 0 0 25%; 
  }
  .card-item-instance,.card-item-3
  .card-category-instance {
    
    border: 1px solid black; /* Add a border to each card */
    overflow: hidden;
    background-color: #fff; /* Set background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  
    