.card-item {
    top: 90px ;
    left: 95px;
    border: 1px solid #ddd;
    border-color: black;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 350px;
    width: 360px;
    position: relative;
  }
  
  .card-image img {
    width: 360px;
    height: 350px;
  }
  
  .card-description {
    color: #555;
    margin: 12px 0;
  }
  
  
  